/* navbar component */

.logo {
    width: 120px;
}

.button-us {
    background: linear-gradient(-70deg, #009EFD, #2AF598);
    border-radius: 22px 0 22px 0;
    width: 140px;
    height: 46px;
    color: white !important;
    text-align: center;
}

.navbar-light .navbar-nav .nav-item .nav-link:active {
    color: #2e86de;
}

.navbar-light .navbar-nav .nav-item.active .nav-link {
    color: #2e86de;
}

.navbar-light .navbar-toggler {
    border: none;
    border-radius: 0;
    outline: none;
}

.navbar-light .navbar-toggler:active {
    border: 2px solid #2e86de;
    border-radius: 5px;
}

/* Florence component */

.button-see {
    border: none;
}

.button-see:focus {
    outline: none;
}

.lorem20 {
    color: grey;
    line-height: 25px;
}

.lorem20 span {
    display: block;
}

.florence {
    font-size: 70px;
}

.florence span {
    display: block;
}

/* Whatwe component */

.what-focus span {
    display: block;
}

.what-focus {
    color: grey;
}

.desing span {
    display: block;
}

.hover:hover {
    background-color: white;
    border-radius: 65px 0 65px 0;
    box-shadow: 12px 0 15px 1px #b7f3da, -12px 0 8px -4px #b7f3da;
}

.bg-string {
    background-image: url('https://raw.githubusercontent.com/moshiuzzaman/athena-design-agency/main/src/images/wave.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 100px, center;
    background-position-x: -160px, center
}

.bg1 {
    background-image: url(./Illustration/Group\ 45@2x.png);
    background-repeat: no-repeat;
}

/* .bg2 {
    background-image: url(./Illustration/Group\ 46@2x.png);
    background-repeat: no-repeat;
    background-position: top right;
    height: 80%;
} */

/* Achievements component */

.happy {
    filter: invert( 50%);
}

.achivenments-card:hover .happy {
    filter: brightness(100);
}

.achivenments-card-2:hover .happy {
    filter: brightness(100);
}

.achivenments-card {
    background: white;
    padding: 25px;
    border-radius: 0px 65px 0px 65px;
    width: 340px;
    color: gray;
    box-shadow: 12px 0 15px -4px #ccf0e1, -12px 0 8px -4px #ccf0e1;
}

.achivenments-card:hover {
    background: linear-gradient(45deg,#009EFD ,#2AF598 );
    border-radius: 0px 65px 0px 65px;
    width: 340px;
    ;
    color: white;
    box-shadow: 12px 0 15px -4px #ccf0e1, -12px 0 8px -4px #ccf0e1;
}

.achivenments-card-2 {
    background: white;
    padding: 25px;
    border-radius: 65px 0px 65px 0px;
    width: 340px;
    color: gray;
    box-shadow: 12px 0 15px -4px #ccf0e1, -12px 0 8px -4px #ccf0e1;
}

.achivenments-card-2:hover {
    background: linear-gradient(70deg, #00d2d3, #2e86de);
    border-radius: 65px 0px 65px 0px;
    width: 340px;
    color: white;
    box-shadow: 12px 0 15px -4px #ccf0e1, -12px 0 8px -4px #ccf0e1;
}

.card-it-2 {
    padding-top: 30px;
}

/* DedicatedTeam components */
.order{
    background:white;
    width: 363px;
    height: 650px;
    box-shadow: 2px 0 15px -4px  #c6d6d0, -2px 0 8px -4px #c6d6d0;
}
.order:hover{
    border:4px solid #3CEDCE ;
    border-radius: 7px;
}
.block{
    display: none;
}
.order:hover .block{
    display: inline;
}
.team{
    padding-left: 65px;
}
hr{
    border-top: 2px solid  #3CEDCE; 
}
.order:hover hr{
    border-top: 1px solid rgba(0,0,0,.1);
}




@media screen and (max-width: 768px){
    .navbar-collapse {
        background: #dff9fb;
        padding: 0 20px 20px 20px;
        margin-top: 15px;
    }
    .img16 {
        padding-top: 80px;
    }
    .florence span {
        display: inline;
    }
    .florence {
        font-size: 65px;
    }
    .lorem20 span {
        display: inline;
    }
    .lorem20 {
        line-height: 45px;
        font-size: 20px;
    }
    .what {
        font-size: 50px;
    }
    .what-focus span {
        display: inline;
    }
    .what-focus {
        font-size: 25px;
        padding: 15px;
    }
    .stay span {
        display: block;
    }
    .stay {
        padding-top: 70px;
    }
    .img20 {
        width: 100% !important;
    }
    .card-it {
        padding-top: 30px;
    }
    .achievenments {
        font-size: 38px;
    }
    .team{
        padding-left: 0px;
    }
    .order-main{
        padding-left: 28px !important;
    }
    .res{
        font-weight: bold;
    }
    .get span{
        display: block;
        padding-top: 15px;
    }
    .get{
        font-weight: bold;
        font-size: 55px;
    }
    .latest span{
        display: block;
        padding-top: 7px;
    }
    .bg-string {
        background-image: none;
    }
    
}

@media screen and (max-width: 500px) {
    .navbar-collapse {
        background: #dff9fb;
        padding: 0 20px 20px 20px;
        margin-top: 15px;
    }
    .img16 {
        padding-top: 80px;
    }
    .florence span {
        display: inline;
    }
    .florence {
        font-size: 50px !important;
    }
    .lorem20 span {
        display: inline;
    }
    .lorem20 {
        line-height: 38px;
        font-size: 20px;
    }
    .what {
        font-size: 50px;
    }
    .what-focus span {
        display: inline;
    }
    .stay span {
        display: block;
    }
    .stay {
        padding-top: 70px;
    }
    .img20 {
        width: 100% !important;
    }
    .card-it {
        padding-top: 35px;
    }
    .achievenments {
        font-size: 35px;
    }
    .team{
        padding-left: 0px;
    }
    .res{
        font-weight: bold;
    }
    .get span{
        display: block;
        padding-top: 15px;
    }
    .get{
        font-weight: bold;
        font-size: 55px;
    }
    .latest span{
        display: block;
        padding-top: 7px;
    }
    .bg-string {
        background-image: none;
    }
    
    
}